
body{
			font-family: 'Montserrat', sans-serif;
		}
	nav{
		display: flex;
		background-color: rgb(180, 78, 232);
		justify-content: space-around;
		padding: 20 px 0;
		color: rgb(234, 192, 255);
	}

	nav ul{
		display: flex;
		list-style: none;
		width: 40%;
		justify-content: space-between;
		background-color: 
	}
	nav ul li a{
			color: rgb(234, 192, 255);	
			text-decoration: none;
		}
	nav .logo{
		font-family: 'Pacifico', cursive;
		letter-spacing: 3px;
	}
		.main{
			background-color: pink;
		}
		.main .fb{
			background-color: lightblue;
		}
		.main .ig{
			background-color: yellow;
		}
		.main .twt{
			background-color: lightgreen;
		}